body {
    background-color: rgb(94, 7, 255);
    color: rgb(255, 255, 255);
    font-family: "Matemasie", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}
button {
    background-color: red;
    color: aliceblue;
}